[Unit]
Description=PyPy3 ensure pip
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pypy3 -m ensurepip -U
RemainAfterExit=yes
ProtectSystem=strict
ProtectHostname=yes
PrivateNetwork=yes
PrivateUsers=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
